
.container {
  border: #42c2f4 solid 2px;
  border-top-left-radius: 20px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

/* Header */

.header-wrapper {
  border-top-left-radius: 18px;
  background-color: #42c2f4;
  margin-top: 0;
  padding-left: .5rem;
  padding-top: .75rem;
  padding-bottom: .25rem;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
