
.container {
  border: #2ec4db solid 2px;
  border-top-left-radius: 20px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

button {
  border-radius: 0;
  border: #2ec4db solid 2px;
  color: #2ec4db;
  width: 15%;
  height: 100%;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #2ec4db;
  color: #fff;
}

/* Header */

.header-wrapper {
  border-top-left-radius: 18px;
  background-color: #2ec4db;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .5rem;
  padding-top: .75rem;
  padding-bottom: .25rem;
  color: #fff;
}

/* Create Todo */

.create-todo-wrapper {
  /*height: 3rem;*/
}
.create-todo-form {
  width: 600px;
  height: 3rem;
}

.create-todo-input {
  width: 80%;
  height: 100%;
  border: none;
  text-indent: 0.75rem;
  border: #2ec4db solid 2px;
  color: #2ec4db;
  outline: none;
  padding: 0;
}

